PORT=5005
MONGODB_URI=mongodb+srv://<user>:<pass>@cluster.mongodb.net/consultation_db
JWT_SECRET=your_jwt_secret_same_as_auth_service
APPOINTMENT_SERVICE_URL=http://localhost:5004
NODE_ENV=development
