PORT=5001
NODE_ENV=development
MONGO_URI=mongodb+srv://smart-healthcare-platform:HealthCare12345@cluster0.niave.mongodb.net/auth_db?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=f8943733a009e790032476b47e8c0c07140edacf682e27aef88eb754cdcc0257
JWT_EXPIRES_IN=1d
CLIENT_URL=http://localhost:5173

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=tharmalingamvigneswaran2@gmail.com
MAIL_PASS=wjbnrnnpqyxeqkjq
MAIL_FROM="Smart Healthcare <tharmalingamvigneswaran2@gmail.com>"